

{% extends 'base.html' %}

{% block content %}
<div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">
        Hi I’m Nabin,  Java Developer
      </h1>
      <p class="hero-para">I work as a Java developer and as a remote programming instructor</p>
      <p class="hero-para">
        As a Java devleoper, I make app and games
      </p>
    </div> 
    <div class="hero-img">
        {% load static %}
        <img src="{% static 'img/hero img.jpg' %}" alt="" class="img-responsive">
    </div>

  </div>
  <div class="skills">
    <h5>Skills</h5>
    <div>
      <p>Python, Django, Java</p>
      <p>Git, Github</p>
    </div>
  </div>
  <div class="softwares">
    <h5>Tools</h5>
    <div>
      <p>Visual Studio Code, Postman, Docker</p>
      </p>
     
    </div>
  </div>

  <hr class="line">
  <div class="contact">
    <h2>Get in touch with me &rarr; </h2>
    <div class="contact-links">
      <a href="mailto:makifkarasu@gmail.com">Nabindahal05@gmail.com</a>
      <a href="#" target="_blank">View Resume</a>
  </div>
</div>
{% endblock content %}
